{% load static %}

<p>
    En este post voy a introducir la representación de información geográfica con el lenguaje <a href="https://www.r-project.org/" target="_blank">R</a>.
    R es un avanzado sistema de computación estadística con gráficos que se encuentra
    disponible gratuitamente para la mayoría de plataformas. <br>
    Gracias al bum que se esta viviendo actualmente con la <a href="https://es.wikipedia.org/wiki/Miner%C3%ADa_de_datos" target="_blank">minería de datos</a>, el lenguaje R ha cobrado
    mucha fuerza y es una de las mejores alternativas para la realización de esta práctica. En este
    post lo utilizaré para generar diferentes tipos de mapas para la representación de información
    geográfica. <br>
    La información geográfica de la que disponía para representar en los mapas estaba en formato GPX.
</p>
<h4>1.- Mapa de Google</h4>
<div gist="https://gist.github.com/bertini36/f2d7adf92acd767591bb.js"></div>
<figure class="centered">
    <img class="img-fluid img-centered" src="{% static 'img/posts/maps_with_r/mapa_google.png' %}" alt="Google map representation">
    <figcaption><small>Representación de la información geográfica sobre un mapa de Google</small></figcaption>
</figure>
<h4>2.- Mapa de colisiones</h4>
<p>
    Una forma de visualizar la colisión de puntos puede ser oscureciéndolos. En este mapa se pueden
    apreciar fácilmente las rutas más transitadas. Además la información no esta representada
    sobre un mapa sino que es la propia información la que genera la silueta de la isla de Mallorca.
</p>
<div gist="https://gist.github.com/bertini36/18daed8d2e15b257b7e4.js"></div>
<figure class="centered">
    <img class="img-fluid img-centered" src="{% static 'img/posts/maps_with_r/mapa_rutas.png' %}" alt="Colision representation" style="width: 500px">
    <figcaption><small>Representación de colisiones en la información geográfica</small></figcaption>
</figure>
<h4>3.- Mapa de calor</h4>
<p>
    Cuando se dispone de una gran cantidad de puntos, mostrar cada entidad de forma individual
    a menudo no es útil. En este escenario, los puntos a menudo se superponen, lo que hace difícil
    distinguirlos. Incluso cuando no se superponen, normalmente es difícil o imposible extraer
    información significativa visualmente. Una forma de resolver esta cuestión es generar un mapa
    de calor. Un mapa de calor representa la densidad geográfica de puntos de un mapa utilizando
    áreas de color para representar los puntos.
</p>
<div gist="https://gist.github.com/bertini36/ff7733a29453db905f85.js"></div>
<figure class="centered">
    <img class="img-fluid img-centered" src="{% static 'img/posts/maps_with_r/mapa_calor.png' %}" alt="Hot map">
    <figcaption><small>Mapa de calor</small></figcaption>
</figure>

<h5 style="text-align: center;">Fecha: 24/10/2015</h5>
