{% load static %}

<p class="post_p">
    En este post voy a introducir la representación de información geográfica con el lenguaje
    <a href="https://www.r-project.org/" class="post_link" target="_blank">R</a>.
    R es un avanzado sistema de computación estadística con gráficos que se encuentra
    disponible gratuitamente para la mayoría de plataformas. <br>
    Gracias al bum que se esta viviendo actualmente con la
    <a href="https://es.wikipedia.org/wiki/Miner%C3%ADa_de_datos" class="post_link" target="_blank">minería de datos</a>, el lenguaje R ha cobrado
    mucha fuerza y es una de las mejores alternativas para la realización de esta práctica. En este
    post lo utilizaré para generar diferentes tipos de mapas para la representación de información
    geográfica. <br>
    La información geográfica de la que disponía para representar en los mapas estaba en formato GPX.
</p>
<h4 class="post_section_title text-2xl text-bold">Mapa de Google</h4>
<div class="post_gist" gist="https://gist.github.com/bertini36/f2d7adf92acd767591bb.js"></div>
<div class="post_image_div md:px-56">
    <figure>
        <img class="post_image" src="{% static 'img/posts/maps_with_r/mapa_google.png' %}" alt="Google map representation">
        <figcaption class="post_image_figcaption">
            Representación de la información geográfica sobre un mapa de Google
        </figcaption>
    </figure>
</div>
<h4 class="post_section_title text-2xl text-bold">Mapa de colisiones</h4>
<p class="post_p">
    Una forma de visualizar la colisión de puntos puede ser oscureciéndolos. En este mapa se pueden
    apreciar fácilmente las rutas más transitadas. Además la información no esta representada
    sobre un mapa sino que es la propia información la que genera la silueta de la isla de Mallorca.
</p>
<div class="post_gist" gist="https://gist.github.com/bertini36/18daed8d2e15b257b7e4.js"></div>
<div class="post_image_div md:px-48">
    <figure>
        <img class="post_image" src="{% static 'img/posts/maps_with_r/mapa_rutas.png' %}" alt="Colision representation" style="width: 500px">
        <figcaption class="post_image_figcaption">
            Representación de colisiones en la información geográfica
        </figcaption>
    </figure>
</div>
<h4 class="post_section_title text-2xl text-bold">Mapa de calor</h4>
<p class="post_p">
    Cuando se dispone de una gran cantidad de puntos, mostrar cada entidad de forma individual
    a menudo no es útil. En este escenario, los puntos a menudo se superponen, lo que hace difícil
    distinguirlos. Incluso cuando no se superponen, normalmente es difícil o imposible extraer
    información significativa visualmente. Una forma de resolver esta cuestión es generar un mapa
    de calor. Un mapa de calor representa la densidad geográfica de puntos de un mapa utilizando
    áreas de color para representar los puntos.
</p>
<div class="post_gist" gist="https://gist.github.com/bertini36/ff7733a29453db905f85.js"></div>
<div class="post_image_div md:px-64">
    <figure>
        <img class="post_image" src="{% static 'img/posts/maps_with_r/mapa_calor.png' %}" alt="Hot map">
        <figcaption class="post_image_figcaption">Mapa de calor</figcaption>
    </figure>
</div>

<h5 class="post_date">Fecha: 24/10/2015</h5>
