{% load static %}

<p class="text-md text-gray-900 leading-relaxed">
    Last weekend I was coding an application for Twitter timelines analysis which I called
    <a href="https://github.com/bertini36/profiler" style="color: #feb72b" target="_blank">Profiler</a> (I was just bored). Some years ago I
    was working on probabilistic models and there was one which got my attention:
    <a href="http://www.jmlr.org/papers/volume3/blei03a/blei03a.pdf" style="color: #feb72b" target="_blank">Latent Dirichlet Allocation</a>.
</p>
<p class="text-md text-gray-900 leading-relaxed mt-3">
    This model was developed by David Blei, Andrew Ng y Michael I. Jordan and tries to find topics in document collections.
    In other words, it groups text documents into topics that the model itself discovers. In this post I'm not going
    to explain the model structure and its inference, for this what better than to read the
    <a href="http://www.jmlr.org/papers/volume3/blei03a/blei03a.pdf" style="color: #feb72b" target="_blank">paper</a> itself.
</p>
<p class="text-md text-gray-900 leading-relaxed mt-3">
    This model is based on estimating  <a href="https://en.wikipedia.org/wiki/Dirichlet_distribution" style="color: #feb72b" target="_blank">
    Dirichlet distributions</a>. This kind of distributions model the probability of membership to a set of classes.
    Specifically the model builds (using an iterative procedure) Dirichlet distributions to model the
    probability of a word referring to a concrete topic and the probability of membership from each document to
    each of the topics. The parameters estimation of these distributions can be done using different types of
    Bayesian inference like <a href="https://albertopou.herokuapp.com/#variational_inference_1" style="color: #feb72b" target="_blank">Variational Inference</a>
    or sampling methods as <a href="https://en.wikipedia.org/wiki/Markov_chain_Monte_Carlo" style="color: #feb72b" target="_blank">Markov Chain Monte Carlo</a>.
</p>
<p class="text-md text-gray-900 leading-relaxed mt-3">
    Profiler uses this probabilistic model to identify, given a Twitter timeline (set of user tweets), several
    topics that this user writes about. From this idea I coded a Python application that downloads all these tweets of
    a user, stores them, preprocesses them and finally looks for its main topics.
</p>
<h4 class="mt-6 mb-2">Technological stack</h4>
<ul class="list-disc px-6 text-md text-gray-900 leading-relaxed">
    <li>
        Twitter data is downloaded using <a href="https://github.com/tweepy/tweepy" style="color: #feb72b" target="_blank">Tweepy</a>.
    </li>
    <li>
        To store the timelines I used a <a href="https://www.mongodb.com/" style="color: #feb72b" target="_blank">MongoDB</a> database with
        which I interacted using <a href="https://github.com/mongodb/mongo-python-driver" style="color: #feb72b" target="_blank">Pymongo</a>.
    </li>
    <li>
        Textual data preprocessing was done using libraries as  <a href="https://github.com/pandas-dev/pandas" style="color: #feb72b" target="_blank">Pandas</a>
        and <a href="https://github.com/nltk/nltk" style="color: #feb72b" target="_blank">NLTK</a>. This preprocessing consisted on cleaning
        tweets to avoid deviations (delete emoticons, capital letters, symbols, digits, ...)
    </li>
    <li>
        To infer the model I used  <a href="https://github.com/RaRe-Technologies/gensim" style="color: #feb72b" target="_blank">Gensim</a>
        library. This library has a concurrent LDA implementation.
    </li>
    <li>
        To plot obtained results I used <a href="https://github.com/bmabey/pyLDAvis" style="color: #feb72b" target="_blank">pyLDAvis</a>
        library which generates interactive HTML that avoids to explore the results and check which words
        are the most important in each topic.
    </li>
    <li>
        I coded also a command interface to ease interact with the library. To do this I used Google
        <a href="https://github.com/google/python-fire" style="color: #feb72b" target="_blank">Fire</a> library.
    </li>
    <li>
        I configured the development environment using
        <a href="https://www.docker.com/" style="color: #feb72b" target="_blank">Docker</a>,
        <a href="https://docs.docker.com/compose/" style="color: #feb72b" target="_blank">Docker compose</a> and
        <a href="https://travis-ci.org/" style="color: #feb72b" target="_blank">Travis</a> to execute automatic tests.
    </li>
</ul>
<h4 class="mt-6 mb-2">Command interface</h4>
<p class="text-md text-gray-900 leading-relaxed mt-3">
    Profiler has a command interface. With the next command you could analize some Spain politicians:
</p>
<div class="mt-2" gist="https://gist.github.com/bertini36/f97dac9735f19e9990714bb70e05c1a6.js"></div>
<p class="text-md text-gray-900 leading-relaxed mt-3">
    You can find Profiler installation steps at the
    <a href="https://github.com/bertini36/profiler/blob/master/README.md" style="color: #feb72b" target="_blank">repository</a>.
    In this <a href="https://github.com/bertini36/profiler/blob/master/src/settings.py" style="color: #feb72b" target="_blank">file</a> you
    can configure some application behaviours about the data preprocessing and about the model.
</p>
<h4 class="mt-6 mb-8">Example of obtained results</h4>
<div class="mx-auto px-40 mb-16">
    <figure>
        <img class="w-full h-full" src="{% static 'img/posts/profiling_on_social_networks/profiler1.png' %}" alt="Results">
        <figcaption class="text-center text-black text-sm">
            Group 1
        </figcaption>
    </figure>
</div>
<div class="mx-auto px-40 mb-16">
    <figure>
        <img class="w-full h-full" src="{% static 'img/posts/profiling_on_social_networks/profiler2.png' %}" alt="Results">
        <figcaption class="text-center text-black text-sm">
            Group 4
        </figcaption>
    </figure>
</div>
<p class="text-md text-gray-900 leading-relaxed mt-10">
    Obtained results using tweets are not as good as obtained using posts or article news. This is because tweets
    are short text documents. This reduced length causes a much smaller vocabulary and therefore a difficulty
    for the model to identify differentiated topics. However in this example we can see some interesting groups.
    These results are from Pedro Sánchez timeline (president of Spain). At group 1 we could see that it refers to
    tweets about last campaign and at group 4 we see that refers to the issue of sexist violence.
</p>

<h5 class="mt-10 mb-10 text-center text-bold text-base">22/06/2019</h5>
