{% load static %}

<p class="post_p">
    Hace poco me pidieron desarrollar el prototipo de una librearía que permitiera a la aplicación
    <a href="https://txerpa.com/" class="post_link" target="_blank">Txerpa</a>
    aprender sobre el usuario para poder sugerirle determinadas acciones. Parte de este aprendizaje
    debía hacerse en base al texto que inserta el usuario en la aplicación.
</p>
<p class="post_p">
    Para Python existen diversas librerías que nos pueden servir para este propósito pero,
    principalmente, están pensadas para la lengua inglesa. La causa de que estas librerías den un resultado
    mucho mejor con textos en inglés es debido principalmente al tamaño de los diccionarios. Actualmente, los
    diccionarios de castellano tienen un número de palabras mucho menor que los diccionarios ingleses.
    Tras investigar las diversas herramientas que podía utilizar decidí que la mejor solución era
    unificar en una única librería la funcionalidad de diversas librerías de text mining.
</p>
<p class="post_p">
    El resultado fue la librería <a href="https://github.com/bertini36/SpanishCorpus" class="post_link" target="_blank">SpanishCorpus</a>,
    la cual unifica la funcionalidad de las librerías <a href="http://www.nltk.org/" class="post_link" target="_blank">NLTK</a>,
    <a href="http://www.clips.ua.ac.be/pattern" class="post_link" target="_blank">Pattern</a> y
    <a href="http://pythonhosted.org/pyenchant/" class="post_link" target="_blank">PyEnchant</a> y gracias a la cooperación
    de éstas permite obtener unos corpus de palabras en castellano mucho mas fiables.
</p>
<p class="post_p">
    A continuación tenéis un ejemplo del uso de la librería. <br>
</p>
<div class="post_gist" gist="https://gist.github.com/bertini36/26f89f76252a7836eead.js"></div>

<h5 class="post_date">29/10/2015</h5>
