---
interface Props {
  title?: string;
  description?: string;
}

import "../styles/global.css";

const {
  title = "Alberto Pou",
  description = "Personal blog about programming and technology",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
